

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Lato&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins&display=swap');

@layer base {
 h1 {
      @apply text-3xl font-Montserrat;
    }
    h2 {
      @apply text-2xl font-Montserrat;;
    }
    h3 {
      @apply text-xl font-Montserrat;;
    }
    h4 {
      @apply text-lg font-Montserrat;;
    }
    h5 {
      @apply text-sm font-Montserrat;;
    }
    h6 {
      @apply text-xs font-Montserrat;;
    }
    p {
        @apply text-default  font-Roboto;
    }
    body {
      @apply text-default font-Roboto;
 
    }
  }
 

/* TESTING PURPOSE -ALL BELOW TO BE DELETED */
.borderTest{
    @apply border-2 border-red-500;
}
.borderTest2{
    @apply border-2 border-green-500;
}
.borderTest3{
    @apply border-2 border-blue-500;
}
.bgTest {
    @apply bg-gray-400;

}
.bgTest2 {
    @apply bg-red-400;

}
.bgTest3 {
    @apply bg-blue-400;

}

/* TESTING PURPOSE -ALL ABOVE TO BE DELETED */
/* F6F6F6 */

.theme-autocomm {
--color-bg-theme:#fdcf1f;
    --color-bg-primary: #f6f6f6;
    --color-bg-primary-contrast: red;
    --color-bg-secondary: #F9FCFD;
    --color-bg-tertiary: #F9F5F3;
    --color-bg-fourth: #f9fcfd;
    --color-bg-fifth: #f3f3f3;
--color-bg-sixth:#FCFCFC;
--color-bg-seventh:#8c9091;
    --color-bg-default: #FFFFFF;
    --color-bg-inverse: #5255ac;
--color-bg-theme-inverse:#272c66;
  
    --color-text-primary:black;
    --color-text-secondary: #44467b;
    --color-text-default: #373737;
    --color-text-default-soft: #6a6a6a;
    --color-text-inverse: #fff;
--color-text-theme-inverse:#272c66;
    --color-text-inverse-soft: rgba(255, 255, 255, 0.7);

    --font-display: Montserrat, Futura, Trebuchet MS, Arial, sans-serif;
    --font-body: Roboto, Futura, Trebuchet MS, Arial, sans-serif;
  
    --font-weight-normal: 400;
    --font-weight-display: 600;
    --font-weight-btn: 600;
  
    --rounded-btn: 9999px;

}

.theme-bajaj {
    --color-bg-theme:#fdcf1f;
    --color-bg-theme-inverse:#272c66;
    --color-bg-primary: #f6f6f6;
    --color-bg-secondary: #f3f3f3;
    --color-bg-tertiary: #faf9f9;
    --color-bg-fourth: #f9fcfd;
    --color-bg-fifth: #f3f3f3;

    --color-bg-default: #fff;
    --color-bg-inverse: #5255ac;
  

    --color-text-theme:#fdcf1f;
    --color-text-theme-inverse:#272c66;

    --color-text-primary: #fff;
  
    /* Primary-contrast will be useful when defining button backgrounds and text for the same */
    --color-text-primary-contrast: black; 

    --color-text-secondary: #44467b;
    --color-text-default: #373737;
    --color-text-default-soft: #6a6a6a;
    --color-text-inverse: #3d3789;
    --color-text-inverse-soft: rgba(255, 255, 255, 0.7);
  
    --font-display: Futura, Trebuchet MS, Arial, sans-serif;
    --font-body: Futura, Trebuchet MS, Arial, sans-serif;
  
    --font-weight-normal: 400;
    --font-weight-display: 600;
    --font-weight-btn: 600;
  
    --rounded-btn: 9999px;
  }
  
  .theme-dominar {
    --color-bg-theme:#e00d00;
    --color-bg-theme-inverse:#4c474d;

    --color-bg-primary: #f6f6f6;
    --color-bg-secondary: #f3f3f3;
    --color-bg-tertiary: #faf9f9;
    --color-bg-fourth: #f9fcfd;
    --color-bg-fifth: #f3f3f3;

    --color-bg-default: #fff;
    --color-bg-inverse: #fff;
  
    --color-text-theme:#e00d00;
    --color-text-theme-inverse: black;

    --color-text-primary: #fff;
    --color-text-secondary: #755f17;
    --color-text-default: #444;
    --color-text-default-soft: #999;
    --color-text-inverse: #444;
    --color-text-inverse-soft: #999;   
--color-text-decoration:#e00d00;


    --font-display: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-body: "Helvetica Neue", Helvetica, Arial, sans-serif;
  
    --font-weight-normal: 400;
    --font-weight-display: 400;
    --font-weight-btn: 600;
  
    --rounded-btn: 0.25rem;


  }
  
  .theme-ktm {
    --color-bg-primary: #f6f6f6;
    --color-bg-secondary: #f3f3f3;
    --color-bg-tertiary: #faf9f9;
    --color-bg-fourth: #f9fcfd;
    --color-bg-fifth: #f3f3f3;
    
    --color-bg-default: #f4f4f4;
    --color-bg-inverse: #373737;
  
    --color-text-primary: black;
    --color-text-secondary: #927e7e;
    --color-text-default: #373737;
    --color-text-default-soft: #6a6a6a;
    --color-text-inverse: #fff;
    --color-text-inverse-soft: #bbb;
  
    --font-display: Georgia, Times, "Times New Roman", serif;
    --font-body: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
      "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana,
      "Verdana Ref", sans-serif;
  
    --font-weight-normal: 400;
    --font-weight-display: 400;
    --font-weight-btn: 600;
    --rounded-btn: 0;
  }


/* TEST RIDE STYLES */ 
.dpTRH1 {
  @apply text-3xl uppercase font-bold font-LibreFranklin text-white tracking-wide;
}

.dpTRH4 {
  @apply text-xl  uppercase font-LibreFranklin text-black tracking-widest;
}
.dpTRP {
  @apply  text-white mt-3 font-Poppins tracking-wide;
}

.trCntnr {
  @apply  mx-auto  max-w-5xl;
}

.trFET {
  @apply text-xs  uppercase font-LibreFranklin text-black tracking-widest;
}


/* TEST RIDE STYLES ------ */ 

.headHero {
    @apply text-2xl sm:text-4xl text-black  text-primary;
}
      
.subHeadHero {
    @apply text-xl sm:text-3xl text-primary ; 
}

.paraHero {
    @apply text-lg sm:text-xl text-primary ; 
}


/* Autocomm Section class */
.acSec {
    @apply w-full min-h-screen flex items-center mx-auto;
}

.secHeading {
  @apply uppercase;
}
.secHeadingWrap {
    @apply py-4  sm:py-10 mb-10; 
}

.brandColor {
    @apply text-yellow-600;
}
.acSec1 {
  @apply w-full min-h-screen flex items-start ;
}

.modelButton {
    @apply  font-normal whitespace-nowrap text-sm uppercase rounded-full border-theme
 hover:text-white  hover:bg-theme text-theme-inverse
 border-2 m-2 py-1 px-4  ;
} 

.modelLink {
@apply text-black    border-theme border-b-2
} 

.active {
@apply  text-black border-l-4 border-theme text-xs  ;
}

.inactive {
@apply p-2 m-1  cursor-pointer text-xs text-transparent  transition duration-300 
             ease-in-out border-l-2  border-black 
           hover:border-black transform hover:translate-x-6 hover:scale-110  hover:text-black ;

}

.testRideActive {
@apply bg-theme
}
.testRideInActive {
@apply bg-blue-400
}
.main {
  position:relative;
}

.dpH1 {
  @apply text-3xl uppercase font-bold font-LibreFranklin text-black tracking-wide;
}
.dpH2 {
  @apply text-2xl  uppercase font-LibreFranklin text-black tracking-widest;
}

.dpP {
  @apply  text-gray-700 mt-3 font-Poppins tracking-wide;
}

.dpl {
  @apply text-sm text-gray-700 mt-3 font-LibreFranklin tracking-wide;
}

.btText {
  @apply   text-black tracking-widest font-bold whitespace-nowrap text-xs uppercase ;
}

.dpBut {
  @apply  text-gray-700 font-normal whitespace-nowrap text-xs uppercase  border-theme
  hover:text-white  hover:bg-theme text-theme-inverse tracking-widest
  border-2 m-2 py-1 px-4 ;
}


.active {
  @apply  text-black border-l-4 border-theme text-xs  ;
  }
  
  .inactive {
  @apply p-2 m-1  cursor-pointer text-xs text-transparent  transition duration-300 
               ease-in-out border-l-2  border-black 
             hover:border-black transform hover:translate-x-6 hover:scale-110  hover:text-black ;
  
  }
  
  .testRideActive {
  @apply bg-theme font-bold shadow-lg 
  }
  .testRideInActive {
  @apply bg-default shadow-sm
  }


.InActiveColorBlack {
@apply border-2 border-transparent block w-12 h-12 rounded-full mt-4 sm:ml-4
}
.ActiveColorBlack{
@apply border-2 border-black  block w-12 h-12 mt-4 sm:ml-4 rounded-full
}

.InActiveColorRed {
@apply border-2 border-transparent block w-12 h-12 rounded-full mt-4 sm:ml-4
}
.ActiveColorRed{
@apply border-2 border-red-500 block w-12 h-12 rounded-full mt-4 sm:ml-4
}




.completedBar {
@apply border-theme-inverse
}
.startedCircle {
@apply bg-theme  h-6 w-6 border border-theme 
}
.completedCircle {
@apply bg-theme h-4 w-4 border border-theme 
} 
.input-range__track {
@apply bg-gray-200 !important h-2 
}
.input-range__track--active {
@apply  bg-theme-inverse !important border-theme-inverse border !important h-2
}

.input-range__slider {
@apply bg-theme !important border border-theme !important w-3 h-3
}